<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="charmy.plugin.promela"
   name="Plug-in per charmy"
   version="2.0.0"
   vendor-name="Michele Stoduto">

   <runtime>
      <library name="PromelaWindow.jar"/>
   </runtime>
<requires>
		<import plugin = "charmy.plugin.topology" version="2.0.0"/>
		<import plugin = "charmy.plugin.state" version="2.0.0"/>
		<import plugin = "charmy.plugin.sequence" version="2.0.0"/>
   </requires>
 
   <extension
         point="editor">
      <page
            name="Specifiche Promela"
            class="plugin.promela.PromelaWindow"
            id="promela.plugin">
      </page>
      
       <file plugin = "charmy.plugin.salvastd" >
      
         <xschema idref= "charmy.plugin.salvastd.semantica" xschema_file = "file/schemaFileSemantica.xsd" class = "plugin.promela.file.MenagementFile"/>
        
      </file>
      
   </extension>

</plugin>
